* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;

}

.container {
        width: 1415px;
        margin: 0 auto;
}

.nav__list {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 500px;
        padding-top: 20px;


}

.btn2 {
        background: white;

}

.btn {
        border-radius: 10px;
        border: 2px solid gold;
        color: white;
        background: gold;
        font-family: sans-serif;
        padding: 10px 30px;
        margin-right: 20px;
}

.nav__right a {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.48);
        margin-right: 20px;

}

.nav__right span {
        color: black;
}

.nav__list2 {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 100px;
}

.btn {
        margin-top: 20px;

}

.nav__list3 {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 200px;
}

.list {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 700px;
}

.right {
        color: gold;
        text-decoration: none;


}

.card {
        margin-left: 150px;
        padding-left: 30px;
}
.img{
        margin-left: 200px;
}
.img2{
        margin-left: 100px;

}
.div{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 700px;
}

.footer{
    margin-left: -100px;

}